/* Universally declares that all boxes have 0 padding and 0 margin. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Changes the background color through out the entire body. */
body {
    background-color: #d9dcd6;
}

/* Changes header 20 px padding, a hierarchy of text, a background color, and text color. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Instructs the h1 in header to be inline with other text and sets the font size to 48 */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Recolors the letters within the span with class seo */
header h1 .seo {
    color: #d9dcd6;
}

/* Modifies the navigation menu within header*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removes bullet points from the unordered list that makes the navigation menu */
header div ul {
    list-style-type: none;
}

/* Displays navigation menu inline */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Recolors a tag contents */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Changes the font size of paragraph text to 16 */
p {
    font-size: 16px;
}

/* Customizes the footer giving the listed properties. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Gives the h2 in the footer 20px font. */
footer h2 {
    font-size: 20px;
}

/* Changes the div with the class, hero. It places an image as a background. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Floats the image to the left allowing text to fill on the right */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Floats the image to the right allowing text to fill on the left */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Assigns the class content to a width of 75%, make the block appear inline, and give a 20 px left margin. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Applies the properties to the class, benefits */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Applies margin and text color to article tags within class benefits. */
.benefits article {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Applies changes to class, benefits' article h3 headings */
.benefits article h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Applies changes to class, benefits' article images */
.benefits article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Applies changes to aritcles withing the class, content */
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Styling for image material with class content articles */
.content article img {
    max-height: 200px;
}

/* Styling for h2 headers within class content articles */
.content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
